*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #bdc3c7;
    color: #2c3e50;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
