<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <%- include('../partials/nav'); %>

        <div class="container mt-5">
            <h3 class="mt-5 text-center">Serviço de pesquisa de CEP</h3>
            <div class="mt-5" id="dados"></div>
        </div>

        <%- include('../partials/script'); %>
            <script src="/public/js/index.js"></script>
</body>

</html>